body {
  padding-top: 0; /* Adjust this value according to the height of your navbar */
}


.nav-link {
    color: black !important;
    text-decoration: none !important;
  }
  
  .button-spacing {
    margin-right: 10px;
  }